fastapi
uvicorn[standard]  # Servidor ASGI
fastapi-cors
python-multipart   # Necessário para receber arquivos no FastAPI
pandas             # Para manipulação de planilhas
openpyxl
soup-files
sheet-stream



